<div class="quiz-background">
  <div class="container quiz-margin">
    <div class="quiz-content">
      <h3>Monthly Red</h3>
      <p>Drink periodically</p>
      <p>Do you like to drink wine? How many times have you made a romantic dinner for your partner or had to take a bottle of wine to a dinner with friends but you didn't know which wine to buy?</p>
      <p>Those days are over, our sommelier posses in-depth knowledge and have a great understanding of wine, of which their mastery can be put to good use in a variety of settings. </p>
      <p>She will help you choose the perfect wine for special occasions or for your own daily drinking.</p>
      <p>Choose the package, do the test and expect a special package.</p>
    </div>
  </div>
</div>
